<section>
  <h1>About Me</h1>
  <img src="http://www.gravatar.com/avatar/3638a5defe12ecdb1e112c550e131d92.png" style="float:left;margin-top:4px;margin-right:6px;margin-bottom:1px;" alt="Andy Czerwonka">
  <p style="margin-top:13px">I live in <a href="http://goo.gl/maps/iXVK8">Calgary</a> with my awesome wife, two fantastic kids and two dogs. I'm an unholy mix of programmer, entrepreneur, mad scientist and wannabe chef. I'm a Scala enthusiast who surreptitiously orchestrates the <a href="https://plus.google.com/u/0/communities/115918964995782373052">Calgary Scala</a> community.</p>
</section>
